p {
    font-family: sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.div-centered-hv {
    align-items: center;
    display: flex;
    justify-content: center;
}

.message-left {
    float: left;
    background-color: blueviolet;
}
.message-right {
    float: right;
    background-color: greenyellow;
}

#background {
    border-radius: 10px;
    border: 2px solid black;

    margin: 20px auto;
    width: 800px;
    height: auto;

    background-color: grey;
}

#messagebox-inside {
    padding: 10px;
    width: 95%;
    height: 100%;
}


#message-container-left {
    width: 100%;
    height: 60px;
}

#message-container-right {
    width: 100%;
    height: 60px;
}


#message-box {
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
    /* margin: 5px; */
    width: auto;
    height: auto;
}


